body {
  font-family: sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

#cube-output h2 {
  margin-bottom: 0;
}

pre {
  font-size: 1.2em;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  width: fit-content;
}
